/* .rating-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 50%;
  margin-right: 16px;
  border: 3px solid #fadb14;
} */
