
.viewCourse .member {
  border-radius: 10px 10px;
}

.viewCourse .member .img-fluid {
  border-radius: 10px 0px 0px 10px;
}
.viewCourse .member .member-info .footer a {
  margin-right: 4%;
}

.myCourse .member {
  border-radius: 10px 10px;
}

.myCourse .member .img-fluid {
  border-radius: 10px 0px 0px 10px;
}
.myCourse .member .member-info .footer a {
  margin-right: 4%;
}


.ant-card-hoverable:hover,
.ant-card-meta-title:hover {
  color: #b75757;
}

.feedback {
  text-align: center;
} */
